@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.display-flex {
    display: flex;
}


/* dark 02 */
.text-gray {
    color: #424242;
}

/* dark 03 */
.text-light-gray {
    color: #727272;
}

.text-primary {
    color: #FF900E;
}

.bg-light {
    background-color: rgba(255, 144,14,0.1);
}

.primary-btn {
    background-color: #FF900E;
    border: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 8px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main > section {
    margin-top: 130px;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}

/* Header styles */

/* Navbar Styles */

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.brand-name {
    font-weight: 700;
    font-size: 3rem;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner related styles */

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-image {
    width: 100%;
}

/* teams section styles */
.teams {
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features {
    margin-left: 130px;
    max-width: 530px;
}

#quick-list {
    font-weight: 500;
}

/* features section styles */
.features {
    gap: 140px;
}

#feature-section-title {
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}

.feature-card {
    padding: 30px;
    box-shadow: 0 4px 30px 0 #00000015;
    border-radius: 8px;
    margin-bottom: 20px;
}

.feature-card .feature-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
}

#experinece-badge {
    padding: 45px 42px;
    font-size: 1.5rem;
    margin-left: -100px;
    margin-top: -100px;
    font-weight: 500;
}

#experiencce-year {
    font-size: 4rem;
    font-weight: 700;
}

/* some fact related styles  */
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-description {
    margin-top: 10px;
}

.fact-card {
    border: 1px solid #FF900E;
    text-align: center;
    width: 240px;
    padding-block: 30px;
    border-radius: 8px;
}

.fact-number {
    font-size: 2.8rem;
    margin-block: 10px;
}

.fact-name {
    font-size: 1.25rem;
    margin-top: 10px;
}

/* sponsor related styles */
.sponsor-info {
    max-width: 540px;
    margin:  50px auto;
    text-align: center;
}

.sponsored-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsored-companies img {
    filter: grayscale(100%);
}

.experiencce-year {
    width: 100%;
}

/* footer */
.footer-section {
    max-width: 1440px;
    margin: 0 auto;
    margin-block: 100px;
}

.footer-wrapper {
    width: 100%;
    text-align: center;
    padding-block: 24px;
    border-radius: 8px;
    font-size: 20px;
}

/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links, 
    .teams,
    .features {
        flex-direction: column;
    }

    .team-img-container, 
    .facts-container,
    .sponsored-companies {
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features {
        margin-left: 20px;
    }

    .sponsored-companies {
        justify-content: center;
        gap: 50px;
    }

    .facts-container {
        justify-items: center;
        gap: 24px;
    }

    #expreience-badge {
        margin-top: 20px;
        margin-left: 20px;
    }
}



/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams,
    .features {
        flex-direction: column;
    }

    .our-features {
        margin-left: 0;
    }

    .sponsored-companies, .facts-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }

    #expreience-badge {
        margin-top: 20px;
        margin-left: 20px;
    }
}